@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 4mm 35mm 4mm 35mm;
        /* change the margins as you want them to be. */


    }




    table tr th {
        color: #ff6b31;
    }


}

body {
    direction: rtl;
}

table tr th,
table tr td {
    padding: 5px 20px;
}

table {
    margin-bottom: 70px;
}

main .col-6 {
    margin-bottom: 15px;
}


.statusCase {
    background-color: rgb(255, 174, 0);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;

}


p {
    font-weight: 600;
    margin-bottom: 0;
}

.hassa {
    color: #ff6b31;
}


.sending_charge,
.receiving_charge {
    color: #f3260b;
}

.card_img_receive,
.card_img_send {
    width: 30px;
    height: 30px;
}


@media (max-width: 576px) {

    body {
        width: 12cm;
        height: 29.7cm;
        /* margin: 4mm 4mm 4mm 4mm; */
        /* change the margins as you want them to be. */


    }


    table {
        width: 50% !important;
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        font-size: 14px;
    }

    th {
        font-weight: 900;
        font-size: 16px;
    }


    .card_img_receive,
    .card_img_send {
        width: 20px;
        height: 20px;
    }


}